html {
  font-family: $font-sans;
  background-color: $bg-primary-color;
  color: $text-primary-color;
}
body {
  min-width: $min-width;
}

[container] {
  width: $min-width;
  margin-left: auto;
  margin-right: auto;
}
