// 项目相关
$primary-color: #ff6700 !default;

// 边框

// 字体大小

// 阴影

// 层级

// 通用相关
// 颜色体系(tailwindcss)
/* white gray black */
$white: #fff;
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
$black: #000;
